body {
  font-family: 'Inter', system-ui, sans-serif;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Space Grotesk', sans-serif;  
}

p {
    font-size:x-large;
    font-weight: 500;
}

video {
    max-width: 95%;
}

.static-background {
  position: fixed;
  inset: 0;
  background-image: url('../assets/images/fondo.webp');
  z-index: -1;
}


.main-section {
    padding: 2rem;
}

.hero {
  height: 100vh;
  display: grid;
  place-content: center;
  background: #0e0e0e;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero button {
  margin: 2rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}


